* {
    margin: 0;
    padding: 0;
}

p.foo {
    font-family: 'Karla', sans-serif;
    font-size: 18;
    font-weight: 300;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #bbb;
}

a {
    color: #ffffff;
}
/*hamburguer menu*/
/* header */

.header {
    background-color: #000000;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #ffffff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #d0c9c9;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #dfdfdf;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: .2s ease-out;
    width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}
/*btn animacion*/
.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}
/*-----fin del hamburguer--*/


/* 48em = 768px @ 16pt font */
@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

.just_center{justify-content: center;}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #9846be;
    text-shadow: 3px 3px 2px black;
}

.div_galery {
    background-color: black;
    border: solid 3px violet;
    padding: 5px;
    display: inline-block;
}

.img_galery {
    display: inline-block;
    block-size: 300px;
    writing-mode: sideways-rl;
    border: #000;
    border-radius: 20px;
    margin: 5px;
}

.lt_t_aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: rgb(197, 194, 194);
}

.lt_wt_text {
    color: white;
}

.lt_letras_xxl {
    font-size: 12rem;
}

.lt_letras_l {
    font-size: 2rem;
}

.lt_letras_rel {
    font-size: 100%;
}

.lt_b {
    font-weight: bold;
}

.batata {
    background-image: ;
}

.lt_tx_center {
    text-align: center;
}

.lt_tx_right {
    text-align: right;
}

.lt_top {
    top: 0
}

.lt_bottom {
    bottom: 0
}

footer {
    background-color: #000;
}

.lt_button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.lt_button:hover {
    color: #000;
    background-color: #ccc
}