$color_1: white;
$color_2: #4be79f;
$color_3: #ffffff;
$font-family_1: 'Karla', sans-serif;
$font-family_2: Arial;
$background-color_1: #000000;
$background-color_2: #0100025f;
$background-color_3: #010045;