@import "../scss/color-palette";

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background: map-get($paleta_de_color, verde-e);
    background: map-get($gradient_color, radial_verde);
    color: map-get($paleta_de_color, branco);
}

p {
    margin-left: 15px;
}

hr {
    width: 100%;
    color: map-get($border, verd);
}

.h1 {
    color: map-get($paleta_de_color, branco-e);
    padding: 16px 26px;
    text-shadow: map-get($shadow_color, neon-pink)
}

.container_border {
    border: map-get($border, roxo);
    box-shadow: map-get($shadow_color, neon-yellow);
}

.container_border_2 {
    border: map-get($border, verd);
    box-shadow: map-get($shadow_color, preto);
    background-color: map-get($paleta_de_color, roxo-ee);
}

//img container para facilitar a vida

.image-container {
    display: flex; // grid ou flex
    justify-content: center;
    align-items: center;
    max-width: 420px;
    height: auto;
    border: map-get($border, verd);
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }


table {
    position: relative;
    border: map-get($border, verd);
}

.nav {
    background-color: map-get($paleta_de_color, preto);
    box-shadow: map-get($shadow_color, preto);
    position: fixed;
    border-left-width: 50px;
    right: 0px;
    width: 100%;
    z-index: 3;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: map-get($paleta_de_color, preto);

        a {
            display: block;
            padding: 20px;
            border-right: 1px solid #faf6f6;
            color: white;
            text-decoration: none;
        }
    }

    li {
        a {
            display: block;
            padding: 5px 8em;
            border-right: 1px solid #d0c9c9;
            text-decoration: none;

            &:hover {
                background-image: map-get($gradient_color, linear_roxo);
            }
        }
    }

    .logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
        color: map-get($paleta_de_color, branco);
    }

    .menu {
        clear: both;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }

    .menu-icon {
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;

        .nav-icon {
            background: map-get($paleta_de_color, branco);
            display: block;
            height: 2px;
            width: 18px;
            position: relative;
            transition: background 0.2s ease-out;

            &:before {
                background: map-get($paleta_de_color, branco);
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                transition: all 0.2s ease-out;
                top: 5px;
            }

            &:after {
                background: map-get($paleta_de_color, branco);
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                transition: all 0.2s ease-out;
                top: -5px;
            }
        }
    }

    .menu-btn {
        display: none;

        &:checked~.menu {
            max-height: 240px;
        }

        &:checked~.menu-icon {
            .nav-icon {
                background: transparent;

                &:before {
                    transform: rotate(-45deg);
                    top: 0;
                }

                &:after {
                    transform: rotate(45deg);
                    top: 0;
                }
            }
        }
    }
}

.header {
    .menu-btn {
        &:hover {
            background-image: map-get($gradient_color, roxo);
        }
    }
}

.foot {
    background: map-get($gradient_color, linear_azul);
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    color: map-get($paleta_de_color, branco-e);
    text-decoration: none;
}

.foot_btn {
    box-shadow: map-get($shadow_color, roxo);
    background: map-get($gradient_color, linear_roxo);
    background-color: map-get($gradient_color, linear_preto);
    border-radius: 11px;
    border: 2px solid map-get($paleta_de_color, blue-e);
    display: inline-block;
    cursor: pointer;
    color: map-get($paleta_de_color, branco-e);
    font-size: 12px;
    font-weight: bold;
    padding: 8px 12px;
    text-decoration: none;
    text-shadow: map-get($shadow_color, neon-yellow);

    &:hover {
        background: map-get($paleta_de_color, blue-ee);
        background-color: map-get($paleta_de_color, preto);
        text-shadow: map-get($shadow_color, neon-red);
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

.img-fluid {
    border: solid 2px map-get($paleta_de_color, neon-yellow);
    box-shadow: map-get($shadow_color, neon-yellow);
    border-radius: 5%;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
        content: "";
        display: table;
        clear: both;
    }
}

@media screen and (max-width: 576px) {
    .god_box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 60px 0.1fr auto auto auto auto 0.9fr;
        gap: 12px 7px;
        grid-template-areas: "nav-bar nav-bar nav-bar" "title title title" "con-1 con-1 con-1" "img-1 img-1 img-1" "con-2 con-2 con-2" "img-2 img-2 img-2" "foot foot foot";
        justify-content: space-evenly;
        justify-items: center;
        width: 100%;
    }

    .title {
        grid-area: title;
    }

    .con-1 {
        grid-area: con-1;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .img-1 {
        grid-area: img-1;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .con-2 {
        grid-area: con-2;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .img-2 {
        grid-area: img-2;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .foot {
        align-self: end;
        grid-area: foot;
    }

    .nav-bar {
        justify-items: right;
        grid-area: nav-bar;
    }
}

@media screen and (min-width: 577px) {
    .god_box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 60px 0.1fr auto auto auto auto 0.9fr;
        gap: 12px 7px;
        grid-template-areas: "nav-bar nav-bar nav-bar" "title title title" "con-1 con-1 img-1" "con-1 con-1 img-1" "img-2 con-2 con-2" "img-2 con-2 con-2" "foot foot foot";
        justify-content: space-evenly;
        justify-items: center;
        width: 100%;
    }

    .title {
        justify-self: center;
        align-self: center;
        grid-area: title;
    }

    .con-1 {
        grid-area: con-1;
        margin-left: 2em;
    }

    .con-2 {
        grid-area: con-2;
    }

    .img-2 {
        grid-area: img-2;
        justify-self: center;
        margin-left: 1rem;
    }

    .foot {
        grid-area: foot;
    }

    .nav-bar {
        justify-self: stretch;
        grid-area: nav-bar;
    }

    .img-1 {
        grid-area: img-1;
        justify-self: center;
        margin-right: 1rem;
    }

    .nav {
        background-color: map-get($paleta_de_color, preto);
        box-shadow: map-get($shadow_color, preto);
        position: fixed;
        width: 100%;
        z-index: 1;

        li {
            float: left;

            a {
                padding: 20px 30px;
                float: right;
            }
        }

        .menu {
            clear: none;
            float: right;
            max-height: none;
        }

        .menu-icon {
            display: none;
        }
    }
}

@media screen and (min-width: 751px) {
    .god_box_galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 60px 0.1fr auto auto auto auto 0.9fr;
        gap: 12px 7px;
        grid-template-areas: "nav-bar nav-bar nav-bar" "title title title" "con-1 con-1 con-1" "con-1 con-1 con-1" "img-2 con-2 con-2" "img-2 con-2 con-2" "foot foot foot";
        justify-content: space-evenly;
        justify-items: center;
        width: 100%;
    }

    .title {
        justify-self: center;
        align-self: center;
        grid-area: title;
    }

    .con-1 {
        grid-area: con-1;
        margin-left: 2em;
    }

    .con-2 {
        grid-area: con-2;
    }

    .img-2 {
        grid-area: img-2;
        justify-self: center;
        margin-left: 1rem;
    }

    .foot {
        grid-area: foot;
    }

    .nav-bar {
        justify-self: stretch;
        grid-area: nav-bar;
    }

    .img-1 {
        grid-area: img-1;
        justify-self: center;
        margin-right: 1rem;
    }

    .nav {
        background-color: map-get($paleta_de_color, preto);
        box-shadow: map-get($shadow_color, preto);
        position: fixed;
        width: 100%;
        z-index: 1;

        li {
            float: left;

            a {
                padding: 20px 30px;
                float: right;
            }
        }

        .menu {
            clear: none;
            float: right;
            max-height: none;
        }

        .menu-icon {
            display: none;
        }
    }
}


//Ja ta acabando, só mais um pouco e tu termina...


//form

.form{
    background: map-get($gradient_color, radial_azul);
    border-radius: 3%;
    border: map-get($paleta_de_color, neon-verd);
    border-radius: 21px;
    box-shadow: map-get($shadow_color, neon-yellow);
    padding: 10px;
    margin: 11px;
    }


input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: map-get($paleta_de_color, verde-e);
    color: map-get($paleta_de_color, branco);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:map-get($paleta_de_color, amarelo-e);
    box-shadow: map-get($shadow_color, neon-yellow);
    color: map-get($paleta_de_color, roxo-e );
}

input[type=reset] {
    background-color: map-get($paleta_de_color, neon-red);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color:map-get($paleta_de_color, red-e);
    box-shadow: map-get($shadow_color, neon-red);
}


.form_container {
    border-radius: 5px;
    background-color: map-get($gradient_color , linear_preto );
    padding: 20px;



    strong {
        color: map-get($paleta_de_color, neon-red);
    }
}


//controlador de iframe colocar o frame entre <div>


.iframe-container{
    position: relative;
    box-shadow: map-get($shadow_color, roxo);
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

//animaçoes com hover

.mova {
    transition: all 700ms ease; 
}
//rebote
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.mova:hover {
	animation: bounce 0.5s;
}