body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background: #428e4a;
  background: radial-gradient(circle, rgba(66, 142, 74, 0.9551470246) 18%, rgb(13, 1, 45) 100%);
  color: #ffffff;
}

p {
  margin-left: 15px;
}

hr {
  width: 100%;
  color: solid 1px #4be79f;
}

.h1 {
  color: #fff5b8;
  padding: 16px 26px;
  text-shadow: -2px 4px 4px #d000ff;
}

.container_border {
  border: solid 3px #480496;
  box-shadow: 0px 4px 16px 0 #cae42a;
}

.container_border_2 {
  border: solid 1px #4be79f;
  box-shadow: 1px 1px 4px 0 rgb(0, 0, 0);
  background-color: rgba(36, 24, 49, 0.7450980392);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 420px;
  height: auto;
  border: solid 1px #4be79f;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

table {
  position: relative;
  border: solid 1px #4be79f;
}

.nav {
  background-color: #000000;
  box-shadow: 1px 1px 4px 0 rgb(0, 0, 0);
  position: fixed;
  border-left-width: 50px;
  right: 0px;
  width: 100%;
  z-index: 3;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #000000;
}
.nav ul a {
  display: block;
  padding: 20px;
  border-right: 1px solid #faf6f6;
  color: white;
  text-decoration: none;
}
.nav li a {
  display: block;
  padding: 5px 8em;
  border-right: 1px solid #d0c9c9;
  text-decoration: none;
}
.nav li a:hover {
  background-image: linear-gradient(rgba(36, 24, 49, 0.7450980392), #1a0052);
}
.nav .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
}
.nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.nav .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.nav .menu-icon .nav-icon {
  background: #ffffff;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}
.nav .menu-icon .nav-icon:before {
  background: #ffffff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}
.nav .menu-icon .nav-icon:after {
  background: #ffffff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}
.nav .menu-btn {
  display: none;
}
.nav .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.nav .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}
.nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}
.nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

.foot {
  background: linear-gradient(to bottom, #16387b 5%, #000000 100%);
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  color: #fff5b8;
  text-decoration: none;
}

.foot_btn {
  box-shadow: 0px 1px 3px 3px #3f0585;
  background: linear-gradient(rgba(36, 24, 49, 0.7450980392), #1a0052);
  background-color: linear-gradient(to bottom, #000000 5%, #010045 100%);
  border-radius: 11px;
  border: 2px solid #1a0052;
  display: inline-block;
  cursor: pointer;
  color: #fff5b8;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 12px;
  text-decoration: none;
  text-shadow: 0px 4px 16px 0 #cae42a;
}
.foot_btn:hover {
  background: #010045;
  background-color: #000000;
  text-shadow: -2px 4px 4px #ff1818;
}
.foot_btn:active {
  position: relative;
  top: 1px;
}

.img-fluid {
  border: solid 2px #cae42a;
  box-shadow: 0px 4px 16px 0 #cae42a;
  border-radius: 5%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 576px) {
  .god_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 0.1fr auto auto auto auto 0.9fr;
    gap: 12px 7px;
    grid-template-areas: "nav-bar nav-bar nav-bar" "title title title" "con-1 con-1 con-1" "img-1 img-1 img-1" "con-2 con-2 con-2" "img-2 img-2 img-2" "foot foot foot";
    justify-content: space-evenly;
    justify-items: center;
    width: 100%;
  }
  .title {
    grid-area: title;
  }
  .con-1 {
    grid-area: con-1;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .img-1 {
    grid-area: img-1;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .con-2 {
    grid-area: con-2;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .img-2 {
    grid-area: img-2;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .foot {
    align-self: end;
    grid-area: foot;
  }
  .nav-bar {
    justify-items: right;
    grid-area: nav-bar;
  }
}
@media screen and (min-width: 577px) {
  .god_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 0.1fr auto auto auto auto 0.9fr;
    gap: 12px 7px;
    grid-template-areas: "nav-bar nav-bar nav-bar" "title title title" "con-1 con-1 img-1" "con-1 con-1 img-1" "img-2 con-2 con-2" "img-2 con-2 con-2" "foot foot foot";
    justify-content: space-evenly;
    justify-items: center;
    width: 100%;
  }
  .title {
    justify-self: center;
    align-self: center;
    grid-area: title;
  }
  .con-1 {
    grid-area: con-1;
    margin-left: 2em;
  }
  .con-2 {
    grid-area: con-2;
  }
  .img-2 {
    grid-area: img-2;
    justify-self: center;
    margin-left: 1rem;
  }
  .foot {
    grid-area: foot;
  }
  .nav-bar {
    justify-self: stretch;
    grid-area: nav-bar;
  }
  .img-1 {
    grid-area: img-1;
    justify-self: center;
    margin-right: 1rem;
  }
  .nav {
    background-color: #000000;
    box-shadow: 1px 1px 4px 0 rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .nav li {
    float: left;
  }
  .nav li a {
    padding: 20px 30px;
    float: right;
  }
  .nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav .menu-icon {
    display: none;
  }
}
@media screen and (min-width: 751px) {
  .god_box_galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 0.1fr auto auto auto auto 0.9fr;
    gap: 12px 7px;
    grid-template-areas: "nav-bar nav-bar nav-bar" "title title title" "con-1 con-1 con-1" "con-1 con-1 con-1" "img-2 con-2 con-2" "img-2 con-2 con-2" "foot foot foot";
    justify-content: space-evenly;
    justify-items: center;
    width: 100%;
  }
  .title {
    justify-self: center;
    align-self: center;
    grid-area: title;
  }
  .con-1 {
    grid-area: con-1;
    margin-left: 2em;
  }
  .con-2 {
    grid-area: con-2;
  }
  .img-2 {
    grid-area: img-2;
    justify-self: center;
    margin-left: 1rem;
  }
  .foot {
    grid-area: foot;
  }
  .nav-bar {
    justify-self: stretch;
    grid-area: nav-bar;
  }
  .img-1 {
    grid-area: img-1;
    justify-self: center;
    margin-right: 1rem;
  }
  .nav {
    background-color: #000000;
    box-shadow: 1px 1px 4px 0 rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .nav li {
    float: left;
  }
  .nav li a {
    padding: 20px 30px;
    float: right;
  }
  .nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav .menu-icon {
    display: none;
  }
}
.form {
  background: radial-gradient(circle, rgba(86, 168, 174, 0.955) 18%, rgb(109, 193, 168) 100%);
  border-radius: 3%;
  border: #4be79f;
  border-radius: 21px;
  box-shadow: 0px 4px 16px 0 #cae42a;
  padding: 10px;
  margin: 11px;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #428e4a;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #c9fa05;
  box-shadow: 0px 4px 16px 0 #cae42a;
  color: #480496;
}

input[type=reset] {
  background-color: #ff0000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: #ff5500;
  box-shadow: -2px 4px 4px #ff1818;
}

.form_container {
  border-radius: 5px;
  background-color: linear-gradient(to bottom, #000000 5%, #010045 100%);
  padding: 20px;
}
.form_container strong {
  color: #ff0000;
}

.iframe-container {
  position: relative;
  box-shadow: 0px 1px 3px 3px #3f0585;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mova {
  transition: all 700ms ease;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-10px);
  }
}
.mova:hover {
  animation: bounce 0.5s;
}